body {
    background-image: url("images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    Font-size: 16px;
}

/*General alignment*/
.page-header,
.page-subtitle,
.form_body,
.form_disclaimer-text {
    display: block;
    margin: auto;

}

.page-header {
    width: 10em;
    margin-top: 80px;
    margin-bottom: 30px;
    line-height: 1.3em;
    font-size: 1.88em
}

.page-subtitle {
    width: 20em;
    margin-bottom: 50px;
    font-weight: 500;
}

/*Line height*/
.page-subtitle,
.form_header p {
    line-height: 1.65em;
}


.form_header {
    background-color: hsl(248, 32%, 49%);
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100px;
    margin-bottom: 30px;
}

.form_header p {
    margin-bottom: 0px;
    margin-top: 25px;
    width: 15em;
}

.form_body {
    background-color: white;
    height: 90%;
    margin-bottom: 20px;
  

}
/*Box Shadows */
.form_body,
.form_header {
    box-shadow: 0px 12px hsla(0, 0%, 0%, 0.1);
    width: 90%;
}

.form_input {
    width: 80%;
    border: 1px solid #cccccc;
    padding-left: 20px;
    font-weight: 700;
}
::placeholder {
    color:#999;;
}

.form_input:first-child {
    margin-top: 30px;
}

.form_claim-button {
    background-color: hsl(154, 59%, 51%);
    border: none;
    width: 85%;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
}

.form_claim-button:hover {
    background-color: hsl(154, 88%, 84%);
    color: hsl(154, 59%, 51%);
    transition: ease-in-out 0.2s;
    border: 1px solid hsl(154, 59%, 51%);
}

.form_invalid {
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 239, 239);

}

.form_invalid::after {
    content: "Required field";
}

.form_valid {
    border: 1px solid rgb(0, 184, 0);
    background-color: rgb(218, 253, 218)
}

.form_invalid::placeholder {
    color: rgb(255, 0, 0);
}

/*Button height and spacing*/
.form_input,
.form_claim-button {
    height: 70px;
    margin-top: 20px;
}

/* rounded corners */
.form_header,
.form_claim-button,
.form_body {
    border-radius: 10px;
}

.form_disclaimer-text {
    color: #999;
    font-size: .8em;
    width:75%;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2em;
}

.form_disclaimer-text a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 700;
}

.form_disclaimer-text a:hover {
    text-decoration: underline;
}


.attribution { 
    font-size: 11px; text-align: center; 
    margin-bottom: 20px;
}
.attribution a { 
    color: black; 
}
.attribution a:hover { 
    color: white; 
}

@media screen and (min-width: 1200px) {

.container {
    padding-top: 100px;
    padding-bottom: 50px;
}

body {
    background-image: url(images/bg-intro-desktop.png);
    background-position: center;
    background-size: cover;
}

.page-header {
    font-size: 3em;
    text-align: left;
    margin: 0;
    margin-top: 130px;
    margin-left: 0px;
    margin-bottom: 20px;

}

.page-subtitle {
    text-align: left;
    width: 90%;
    margin-left: 0px;
}

.form_header p {
    width: 100%;
}

.form_header {
    height: 80px;
}

.form_body,
.form_header {
    width: 100%;
}
}